<h1>Edit a contact</h1>

<form class="add_contact" action='/contacts/<%= @contact.id %>/edit'  method="post">
  <input type="hidden" name="_method" value="put">
    <label for="">First name:
      <input type="text" name="first_name" value="<%= @contact.first_name %>">
    </label>
    <label for="">Last name:
      <input type="text" name="last_name" value="<%= @contact.last_name %>">
    </label>
    <label for="">Email:
      <input type="text" name="email" value="<%= @contact.email %>">
    </label>
    <label for="">Note:
      <input type="text" name="note" value="<%= @contact.note %>">
    </label>
      <input type="submit" name="submit" value="Edit Contact">
</form>
